@model FortuneTechPvtLtd.Models.EmailAlertsModel

@{
    Layout = "~/Views/Shared/_Layout3.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Edit EMail Alert</title>

    <link href="~/Js_Files/jquery-ui-themes-1.12.1/jquery-ui.theme.min.css" rel="stylesheet" />
    <link href="~/Js_Files/jquery-ui-themes-1.12.1/jquery-ui.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.20/css/jquery.dataTables.min.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css">
    <style type="text/css">
        #form {
            background-color: hsla(100, 43%, 51%, 0.3);
            min-height: 100%;
        }

        .required:after {
            content: "*";
            font-weight: bold;
            color: red;
        }
    </style>
</head>
<body>

    @using (Html.BeginForm("Update", "SmsAlerts", FormMethod.Post))
    {
        <div class="row">
            <div class="col-md-12">
                    <div class="table-resposive">
                        <h3 class="text-muted text-left font-18 "><b class="btn-warning">Add Sms Alert</b></h3>
                         @Html.HiddenFor(m => m.CompId, new { @Value = Session["CurrentCompanyId"].ToString() })
  @Html.HiddenFor(m => m.BrId, new { @Value = Session["CurrentCompanyBranchId"].ToString() })
              
                         <div class="col-md-12">
                    <div class="form-group mb-3">
                        <div> <span class="required"> Alert Name @Html.HiddenFor(m=>m.AlertId)</span></div>
                         @Html.DropDownListFor(m => m.AlertMasterName, new SelectList(ViewBag.alert, "AlertMastId", "AlertMastName"), "Select", new { @class = "form-control" })
                         <input type="hidden" name="hdnalertmastname" id="hdnalertmastname" value="" />
                        <div> @Html.ValidationMessageFor(model => model.AlertMasterName, "", new { @class = "text-danger" })</div>
                    </div>
                </div>
                          <div class="col-md-12">
                    <div class="form-group mb-3">
                        <div> <span class="required">Comments</span></div>
                        <div>@Html.TextBoxFor(m => m.AlertComments, new { @class = "form-control", @placeholder = "Comments", @autocomplete = "off" })</div>
                        <div> @Html.ValidationMessageFor(model => model.AlertComments, "", new { @class = "text-danger" })</div>
                    </div>
                </div>
                          <div class="col-md-12">
                    <div class="form-group mb-3">
                        <div> <span class="required"> Alert Status</span></div>
                       @* <div>@Html.TextBoxFor(m=>m.campflag, new { @class = "form-control", @placeholder = "Product Cost" })</div>*@
                           <div>  @Html.DropDownListFor(m => m.AlertFlag, new SelectList(ViewBag.alertstatus, "alertstatusid", "alertstatusname"), "Select", new { @class = "form-control" })
                                <input type="hidden" name="hdnalertflag" id="hdnalertflag" value="" />
                           </div>
                        <div> @Html.ValidationMessageFor(model => model.AlertFlag, "", new { @class = "text-danger" })</div>
                    </div>
                </div>
                                
                    <div class="col-md-12">
                         <div class="form-group row">
                       <input class="btn btn-info mr-3" type="submit" name="Update" value="Update" id="btnupdate"  />
                       <input class="btn btn-info" type="submit" name="Cancel" value="Cancel" formaction="@Url.Action("Cancel")" />
                    </div>
                </div>
            </div>
        </div>
         </div>    
    }

    <script type="text/javascript" charset="utf8" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
    <script type="text/javascript" charset="utf8" src="http://ajax.aspnetcdn.com/ajax/jquery.dataTables/1.9.4/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/jquery-validation@1.19.1/dist/jquery.validate.min.js"></script>
    <script type="text/javascript" src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $("#btnupdate").click(function () {
                var alertname = $('#AlertMasterName option:selected').text();

                $("#hdnalertmastname").val(alertname);
                //alert name
                var alertname = $('#AlertMasterName option:selected').text();
                if (alertname == 'Select') {
                    alert('Please Select Alert Name');
                    return false;
                }
                else {
                    $("#hdnalertmastname").val(alertname);
                }

                //camp flag for status
                var campflag = $('#AlertFlag option:selected').text();
                if (campflag == 'Select') {
                    alert('Please Select Alert Status');
                    return false;
                }
                else {
                    $("#hdnalertflag").val(campflag);
                }
            });
        });
    </script>
</body>
</html>
