@model FortuneTechPvtLtd.Models.UserLoginModel

@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title></title>

    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.20/css/jquery.dataTables.min.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css">
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-show-password/1.0.3/bootstrap-show-password.min.js"></script>
    <link rel="shortcut icon" href="assets/images/favicon.ico">

    <link href="~/assets/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="~/assets/css/icons.css" rel="stylesheet" type="text/css">
    <link href="~/assets/css/style.css" rel="stylesheet" type="text/css">
    <style>
    </style>
</head>
<body class="fixed-left">
    <div>
        @using (Html.BeginForm("SetNewPassword", "home", FormMethod.Post))
        {
          
            <!--Loader-- >@*
            <div id="preloader">
                <div id="status">
                    <div class="spinner"></div>
                </div>
            </div>*@

            <!-- Begin page -->
            <div class="accountbg">

                <div class="content-center">
                    <div class="content-desc-center">
                        <div class="container">
                            <div class="row justify-content-center">
                                <div class="col-lg-5 col-md-8">
                                    <div class="card">
                                        <div class="card-body">

                                           
                                           <p class="text-center mt-0 m-b-15" style="font-family:Arial;color:#b200ff">
                                              @*  <a href="index.html" class="logo logo-admin">
                                                    <img src="assets/images/logo-dark.png" height="30" alt="logo"></a>*@
                                               please check your email for verification code  
                                            </p>
                                         
                                            <div class="p-3">
                                                <form class="form-horizontal m-t-20" action="index.html">
                                                     
                                                    <div class="form-group row form-group-lg">
                                                        <div class="col-12">@Html.TextBoxFor(m => m.OTP, new { @class = "form-control", @id = "OTP",@maxlength = "4", @placeholder = "Enter Verification Code ex:2020", @autocomplete = "off" }) @*, @type = "email"*@
                                                            @Html.ValidationMessageFor(model => model.OTP, "", new { @class = "text-danger" })
                                                            
                                                        </div>
                                                    </div>
                                                      <div class="form-group row form-group-lg">
                                                   
                                                        <div class="col-12 text-center">@Html.TextBoxFor(m => m.SetPassword, new { @class = "form-control", @placeholder = "Set New Password", @autocomplete = "off" }) @*, @type = "email"*@
                                                            @Html.ValidationMessageFor(model => model.SetPassword, "", new { @class = "text-danger" })
                                                        </div>
                                                    </div>
                                                      <div class="form-group row form-group-lg">
                                                   
                                                        <div class="col-12 text-center">@Html.TextBoxFor(m => m.ConfirmPassword, new { @class = "form-control", @placeholder = "Confirm Password", @autocomplete = "off" }) @*, @type = "email"*@
                                                            @Html.ValidationMessageFor(model => model.ConfirmPassword, "", new { @class = "text-danger" })
                                                        </div>
                                                    </div>
                                                       <div class="form-group row form-group-lg">
                                                          
                                                        <div class="col-12">
                                                          
                                                            <input class="btn mt-5 rounded-pill btn-lg btn-primary  " type="submit" value="Submit" id="btnsubmit" />
                                                             <input class="btn mt-5 rounded-pill btn-lg btn-primary" type="submit" value="Cancel" formaction="@Url.Action("Cancel")" />
                                                          
                                                        </div>

                                                    </div>
                                                </form>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- end row -->
                        </div>
                    </div>
                </div>
            </div>

            
        }
    </div>
    <script type="text/javascript" charset="utf8" src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.8.2.min.js"></script>
    <script type="text/javascript" charset="utf8" src="http://ajax.aspnetcdn.com/ajax/jquery.dataTables/1.9.4/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/jquery-validation@1.19.1/dist/jquery.validate.min.js"></script>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
    <script type="text/javascript" src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

    <!-- jQuery  -->
    <script src="~/assets/js/jquery.min.js"></script>
    <script src="~/assets/js/bootstrap.bundle.min.js"></script>
    <script src="~/assets/js/modernizr.min.js"></script>
    <script src="~/assets/js/detect.js"></script>
    <script src="~/assets/js/fastclick.js"></script>
    <script src="~/assets/js/jquery.slimscroll.js"></script>
    <script src="~/assets/js/jquery.blockUI.js"></script>
    <script src="~/assets/js/waves.js"></script>
    <script src="~/assets/js/jquery.nicescroll.js"></script>
    <script src="~/assets/js/jquery.scrollTo.min.js"></script>

    <!-- App js -->
    <script src="assets/js/app.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {

            $("#btnsubmit").click(function () {

                if ($("#OTP").val() == "") {
                    alert("Please Enter OTP");
                    return false;
                }
                if ($("#SetPassword").val() == "") {
                    alert("Please Enter Set Password");
                    return false;
                }
                if ($("#ConfirmPassword").val() == "") {
                    alert("Please Enter Confirm Password");
                    return false;
                }
                if ($("#SetPassword").val() != $("#ConfirmPassword").val()) {
                    alert("Please Enter Matching Set Password and Confirm Password");
                    return false;
                }

            });
            //Allow users to enter numbers only
            $("#OTP").bind('keypress', function (e) {
                if (e.keyCode == '9' || e.keyCode == '16') {
                    return;
                }

                var code;
                if (e.keyCode) code = e.keyCode;
                else if (e.which) code = e.which;
                if (e.which == 46)
                    return false;
                if (code == 8 || code == 46)
                    return true;
                if (code < 48 || code > 57)
                    return false;

            });

            //Disable paste
            $("#OTP").bind("paste", function (e) {
                e.preventDefault();
            });

            $("#OTP").bind('mouseenter', function (e) {
                var val = $(this).val();
                if (val != '0') {
                    val = val.replace(/[^0-9]+/g, "")
                    $(this).val(val);
                }
            });
            $("#SetPassword").on('click', function () {
                var $pwd = $("#txtpassword");
                if ($pwd.attr('type') === 'password') {
                    $pwd.attr('type', 'text');
                } else {
                    $pwd.attr('type', 'password');
                }
            });
            $("#ConfirmPassword").on('click', function () {
                var $pwd = $("#txtpassword");
                if ($pwd.attr('type') === 'password') {
                    $pwd.attr('type', 'text');
                } else {
                    $pwd.attr('type', 'password');
                }
            });

        });

    </script>
</body>
</html>
