@model FortuneTechPvtLtd.Models.EnquiryModel

@{
    Layout = "~/Views/Shared/_Layout3.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Create</title>
   <link href="~/Js_Files/jquery-ui-themes-1.12.1/jquery-ui.theme.min.css" rel="stylesheet" />
    <link href="~/Js_Files/jquery-ui-themes-1.12.1/jquery-ui.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.20/css/jquery.dataTables.min.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css">
    <style type="text/css">
      #form{
background-color:hsla(100, 43%, 51%, 0.3);
min-height:100%;
}
        .required:after 
            {
                content: "*";
                font-weight: bold;
                color: red; 
            }
  </style> 
    <script type="text/javascript" charset="utf8" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
     <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
    <script type="text/javascript" charset="utf8" src="http://ajax.aspnetcdn.com/ajax/jquery.dataTables/1.9.4/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/jquery-validation@1.19.1/dist/jquery.validate.min.js"></script>
    <script type="text/javascript" src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>
<body>

    @using (Html.BeginForm("Update", "Enquiry", FormMethod.Post))
    {
      
     
        <div class="row">
            <div class="col-md-12">
                    <div class="table-resposive">
                        <h3 class="text-muted text-left font-18 "><b class="btn-warning">Edit Lead</b></h3>
                        @Html.ValidationSummary()
                     <div class="col-md-12">
                          @Html.HiddenFor(m => m.companyid, new {  @Value = Session["CurrentCompanyId"].ToString()})
                                 @Html.HiddenFor(m => m.branchid, new {  @Value = Session["CurrentCompanyBranchId"].ToString()})
                               <div class="form-group mb-3">
                                    <div ><span class="required">Lead Date</span></div>
                                    <div >@Html.TextBoxFor(m => m.Leaddate,  "{0:d MMM yyyy}",new { @class = "form-control", @placeholder = "LeadDate",@readonly="readonly",@autofocus="autofocus",@autocomplete="off" })</div>
                                   <div></div>
                                </div>
                            </div>
                          <div class="col-md-12">
                        <div class="form-group mb-3">
                            <div><span class="required">Lead Name</span> @Html.HiddenFor(model => model.Id)</div>
                            <div>@Html.TextBoxFor(model => model.LeadName, new { @class = "form-control", @placeholder = "Lead Name" })</div>
                            <div>@Html.ValidationMessageFor(model => model.LeadName, "", new { @class = "text-danger" })</div>
                        </div>
                    </div>
                              <div class="col-md-12">
                        <div class="form-group mb-3">
                            <div><span class="required">Mobile</span></div>
                            <div>@Html.TextBoxFor(model => model.Mobile, new { @class = "form-control", @placeholder = "Mobile",@id="numericOnly",@maxlength="10",@minlenght="10" })</div>
                            <div> @Html.ValidationMessageFor(model => model.Mobile, "", new { @class = "text-danger" })</div>
                        </div>
                    </div>
                           <div class="col-md-12">
                        <div class="form-group mb-3">
                            <div><span class="required">Product</span></div>
                            <div class="form-check">  @foreach (FortuneTechPvtLtd.Models.Product product in ViewBag.products)
                                   {
                                                @Html.RadioButtonFor(m => m.selectedinterestedcourse, product.ProductId, (Model.selectedinterestedcourse.Equals(product.ProductName) ? new { @checked = "checked" } : null))@Html.Label(product.ProductName, new { @class = "form-check-label mr-3" })
                                   }
                                <input type="hidden" id="hdnselectedinterestedcourse" value="" name="hdnselectedinterestedcourse" />
                            </div>
                            <div> @Html.ValidationMessageFor(model => model.selectedinterestedcourse, "", new { @class = "text-danger" })</div>
                        </div>
                    </div>
                             <div class="col-md-12">
                        <div class="form-group mb-3">
                            <div> <span class="required">Lead Source</span></div>
                            <div class="form-check"> 
                                 @foreach (FortuneTechPvtLtd.Models.Source source in ViewBag.source)
                                       {
                                          @Html.RadioButtonFor(m => m.selectedrefby, source.SourceId, (Model.selectedrefby.Equals(source.SourceName) ? new { @checked = "checked" } : null))@Html.Label(source.SourceName, new { @class = "form-check-label mr-3" })
                                       }
                               <input type="hidden" id="hdnselectedrefby" value="" name="hdnselectedrefby" />
                            </div>
                              <div></div>
                        </div>
                    </div>   
           
                 <div class="col-md-12">
                        <div class="form-group mb-3">
                            <div><span class="required">Email</span></div>
                            <div>@Html.TextBoxFor(model => model.Email, new { @class = "form-control", @placeholder = "Email",@id="Email" })</div>
                            <div>@Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })</div>
                        </div>
                    </div>
                         <div class="col-md-12">
                        <div class="form-group mb-3">
                            <div><span class="required">Status</span></div>
                            <div class="form-check"> 
                                  <div class="form-check">
                                            @foreach (FortuneTechPvtLtd.Models.Leadstatus status in ViewBag.stustatus)
                                            {
                                                @Html.RadioButtonFor(m => m.selectedstatus, status.StatusId, (Model.selectedstatus.Equals(status.StatusName) ? new { @checked = "checked" } : null))@Html.Label(status.StatusName, new { @class = "form-check-label mr-3" })
                                            }
                                 <input type="hidden" id="hdnselectedstatus" value="" name="hdnselectedstatus" />
                                        @Html.HiddenFor(m => m.selectedleadassignedto)
                            </div>
                                  <div></div>
                        </div>
                    </div>   
                            </div>

                <div class="col-md-12">
                        <div class="form-group mb-3">
                            <div><span>Address</span></div>
                            <div>@Html.TextBoxFor(model => model.Address, new { @class = "form-control", @placeholder = "Address" })</div>
                            <div>@Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })</div>
                        </div>
                    </div>
              
                           <div class="col-md-12">
                               <div class="form-group mb-3">
                                    <div ><span>FollowupDate</span> </div>
                                    <div>@Html.TextBoxFor(m => m.Followupdate, "{0:d MMM yyyy}", new { @class = "form-control ", @placeholder = "Followupdate" ,@readonly="readonly",@autocomplete="off"})</div>
                                     <div></div>
                                </div>
                            </div>
                  <div class="col-md-12">
                        <div class="form-group mb-3">
                            <div><span class="required">Lead Assigned By</span></div>
                            <div>@Html.TextBoxFor(m => m.LeadAssignedby, new { @class = "form-control", @placeholder = "LeadAssignedBy", @Value = Session["CurrentUser"].ToString(), @readonly = "readonly" })</div>
                            <div>@Html.ValidationMessageFor(model => model.LeadAssignedby, "", new { @class = "text-danger" })</div>
                        </div>
                              </div>
                          <div class="col-md-12">
                        <div class="form-group mb-3">
                            <div><span class="required">Lead Owner</span></div>
                            <div>@Html.TextBoxFor(m => m.LeadOwner, new { @class = "form-control", @placeholder = "LeadOwner", @readonly = "readonly" })</div>
                            <div>@Html.ValidationMessageFor(model => model.LeadOwner, "", new { @class = "text-danger" })</div>
                        </div>
                              </div>
                     
                 
                <div class="col-md-12">
                        <div class="form-group mb-3">
                            <div>Website</div>
                            <div>@Html.TextBoxFor(m => m.Website, new { @class = "form-control", @placeholder = "Website" })</div>
                            <div> @Html.ValidationMessageFor(model => model.Website, "", new { @class = "text-danger" })</div>
                        </div>
                    </div>
                <div class="col-md-12">
                        <div class="form-group mb-3">
                            <div>Industry</div>
                            <div>@Html.TextBoxFor(m => m.Industry, new { @class = "form-control", @placeholder = "Industry" })</div>
                            <div>  @Html.ValidationMessageFor(model => model.Industry, "", new { @class = "text-danger" })</div>
                        </div>
                    </div>
                  <div class="col-md-12">
                                <div class="form-group mb-3">
                                    <div >Rating</div>
                                    <div >@Html.TextBoxFor(m => m.Rating, new { @class = "form-control", @placeholder = "Rating" })</div>
                                   <div> @Html.ValidationMessageFor(model => model.Rating, "", new { @class = "text-danger" })</div>
                               </div>
                            </div>
                             <div class="col-md-12">
                               <div class="form-group mb-3">
                                    <div >Comment1</div>
                                    <div >@Html.TextAreaFor(m=>m.Comment1, new { @class = "form-control", @placeholder = "Comments",@rows=3 })</div>
                                  <div>  @Html.ValidationMessageFor(model => model.Comment1, "", new { @class = "text-danger" })</div>
                              </div>
                            </div>
                              <div class="col-md-12">
                              <div class="form-group mb-3">
                                    <div >Comment2</div>
                                    <div >@Html.TextAreaFor(m=>m.Comment2, new { @class = "form-control", @placeholder = "Comments",@rows=3 })</div>
                                  <div>  @Html.ValidationMessageFor(model => model.Comment1, "", new { @class = "text-danger" })</div>
                              </div>
                            </div>
                              <div class="col-md-12">
                                 <div class="form-group mb-3">
                                    <div >Comment3</div>
                                    <div >@Html.TextAreaFor(m=>m.Comment3, new { @class = "form-control", @placeholder = "Comments",@rows=3 })</div>
                                 <div>   @Html.ValidationMessageFor(model => model.Comment1, "", new { @class = "text-danger" })</div>
                              </div>
                            </div>
                          <div class="col-md-12">
                        <div class="form-group mb-3">
                            <div>Want SMS Alerts</div>
                            <div class="form-check"> 
                                 @foreach (FortuneTechPvtLtd.Models.Alerts alerts in ViewBag.alters)
                                            {
                                                @Html.RadioButtonFor(m => m.seletedwantsmsalerts, alerts.AlertId, (alerts.AlertName.Equals(Model.seletedwantsmsalerts) ? new { @checked = "checked" } : null))@Html.Label(alerts.AlertName, new { @class = "form-check-label mr-3" })
                                     
                                            }
                                <input type="hidden" id="hdnseletedwantsmsalerts"  name="hdnseletedwantsmsalerts"  value="" />
                            </div>
                              <div></div>
                        </div>
                    </div>   
                            <div class="col-md-12">
                        <div class="form-group mb-3">
                            <div>Want Mail Alerts</div>
                            <div class="form-check"> 
                                 @foreach (FortuneTechPvtLtd.Models.Alerts alerts in ViewBag.alters)
                                            {
                                                @Html.RadioButtonFor(m => m.seletedwantmailalerts, alerts.AlertId, (alerts.AlertName.Equals(Model.seletedwantmailalerts) ? new { @checked = "checked" } : null))@Html.Label(alerts.AlertName, new { @class = "form-check-label mr-3" })
                                     
                                            }
                                <input type="hidden" id="hdnseletedwantmaialerts" value="" name="hdnseletedwantmaialerts" />
                            </div>
                              <div></div>
                        </div>
                    </div>   
                      @*  <div class="form-group row" id="alertsdiv">
                            <div class="col-md-12"> Want Alerts </div>
                         <div class="col-md-12">   @Html.DropDownList("Alerttype", new SelectList(Enum.GetValues(typeof(FortuneTechPvtLtd.Models.Alerttype))),"BOTH", new { @class = "form-control" })
                             <input type="hidden" id="hdnalerttype" value="" name="hdnalerttype" />
                            </div></div>*@
                                    <div class="col-md-12">
                                         <div class="form-group row">
                                        <input type="submit" class="btn btn-info btn-rounded mr-3" name="Update" value="Update" id="btnupdate" /> 
                                       <input type="submit" class="btn btn-info btn-rounded" name="Cancel" value="Cancel" id="btncancel" formaction="@Url.Action("Cancel")" />
                                    </div>
                                        </div>
                               
                           
               
                    </div>
            </div>
            </div>
        
    }
   
    <script type="text/javascript">
        $(document).ready(function () {
            //var radiotext = $("input[name='seletedwantalerts']:checked").next().html();
            //if (radiotext == 'Yes') {

            //    $('#alertsdiv').show();
            //    // alert('changeevent')
            //}
            //else {
            //    $('#alertsdiv').hide();
            //}
          //  $('#alertsdiv').hide();
            //datepicker for YearOfPassedOut

            $("#Followupdate").datepicker().datepicker('show')
            $("#Leaddate").datepicker();

       
            //$("#YearOfPassedOut").datepicker(function () {
            //    dateFormat: "mm/dd/yy";
            //    showOtherMonths: true;
            //    selectOtherMonths: true;
            //    autoclose: true;
            //    changeMonth: true;
            //    changeYear: true;
            //    orientation: right;
            //});
            //professionaldetails
            //Allow users to enter numbers only
            $("#numericOnly").bind('keypress', function (e) {
                if (e.keyCode == '9' || e.keyCode == '16') {
                    return;
                }
                var code;
                if (e.keyCode) code = e.keyCode;
                else if (e.which) code = e.which;
                if (e.which == 46)
                    return false;
                if (code == 8 || code == 46)
                    return true;
                if (code < 48 || code > 57)
                    return false;
            });

            //Disable paste
            $("#numericOnly").bind("paste", function (e) {
                e.preventDefault();
            });

            $("#numericOnly").bind('mouseenter', function (e) {
                var val = $(this).val();
                if (val != '0') {
                    val = val.replace(/[^0-9]+/g, "")
                    $(this).val(val);
                }
            });
            // sms
            $("input[type=radio][name='seletedwantsmsalerts']").change(function () {
                var radioValue = $("input[name='seletedwantsmsalerts']:checked").val();
                var radiotext = $("input[name='seletedwantsmsalerts']:checked").next().html();
                $("input[id=hdnseletedwantsmsalerts]").val(radiotext);
            });

            //mail
            $("input[type=radio][name='seletedwantmailalerts']").change(function () {
                var radioValue = $("input[name='seletedwantmailalerts']:checked").val();
                var radiotext = $("input[name='seletedwantmailalerts']:checked").next().html();
                $("input[id=hdnseletedwantmaialerts]").val(radiotext);
            });


            ////alert type
            //$("input[type=radio][name='seletedwantalerts']").change(function () {
            //    var radiotext = $("input[name='seletedwantalerts']:checked").next().html();
            //    if (radiotext == 'Yes') {

            //        $('#alertsdiv').show();
            //        // alert('changeevent')
            //    }
            //    else {
            //        $('#alertsdiv').hide();
            //    }
            //});
            $("#btnupdate").click(function () {


                //alerttype
                //var alerttype = $('#Alerttype option:selected').text();
                //$("input[id=hdnalerttype]").val(alerttype);

                var radioValue = $("input[name='selectedprofessionaldetails']:checked").val();
                var radiotext = $("input[name='selectedprofessionaldetails']:checked").next().html();
                $("input[id=hdnselectedprofession]").val(radiotext);


                //selectedpreferredlocation

                //var radioValue = $("input[name='selectedpreferredlocation']:checked").val();
                //var radiotext = $("input[name='selectedpreferredlocation']:checked").next().html();
                //$("input[id=hdnselectedpreferredlocation]").val(radiotext);


                //selectedinterestedcourse

                var radioValue = $("input[name='selectedinterestedcourse']:checked").val();
                var radiotext = $("input[name='selectedinterestedcourse']:checked").next().html();
                $("input[id=hdnselectedinterestedcourse]").val(radiotext);


                //selectedpreferredbatch

                //var radioValue = $("input[name='selectedpreferredbatch']:checked").val();
                //var radiotext = $("input[name='selectedpreferredbatch']:checked").next().html();
                //$("input[id=hdnselectedpreferredbatch]").val(radiotext);
                //sms
                var radiotext = $("input[name='seletedwantsmsalerts']:checked").next().html();
                $("input[id=hdnseletedwantsmsalerts]").val(radiotext);

                //mail
                var radiotext = $("input[name='seletedwantmailalerts']:checked").next().html();
                $("input[id=hdnseletedwantmaialerts]").val(radiotext);

                //selectedrefby

                var radioValue = $("input[name='selectedrefby']:checked").val();
                var radiotext = $("input[name='selectedrefby']:checked").next().html();
                $("input[id=hdnselectedrefby]").val(radiotext);


                //selectedwanttojoin

                //var radioValue = $("input[name='selectedwanttojoin']:checked").val();
                //var radiotext = $("input[name='selectedwanttojoin']:checked").next().html();
                //$("input[id=hdnselectedwanttojoin]").val(radiotext);


                //seletedwantalerts

                var radioValue = $("input[name='seletedwantalerts']:checked").val();
                var radiotext = $("input[name='seletedwantalerts']:checked").next().html();
                $("input[id=hdnseletedwantalerts]").val(radiotext);


                //selectedstatus

                var radioValue = $("input[name='selectedstatus']:checked").val();
                var radiotext = $("input[name='selectedstatus']:checked").next().html();
                $("input[id=hdnselectedstatus]").val(radiotext);

               

                if ($("#LeadName").val() == "") {
                    alert("Please Enter Lead Name");
                    return false;
                }
                //if ($("#numericOnly").val() == "") {
                //    alert("Please Enter 10 Digit Mobile Number");
                //    return false;
                //}
                //if ($("#numericOnly").length > 10) {
                //    alert("Please Enter 10 Digit Mobile Number");
                //    return false;
                //}
                if (!$('#numericOnly').val().match('[0-9]{10}')) {
                    alert("Please Enter 10 digit mobile number");
                    return false;
                }
                if ($("#Email").val() == "") {
                    var entermailid = $("#Email").val();
                    var reg = /^([\w-\.]+)@@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.)|(([\w-]+\.)+))([a-zA-Z]{2,4}|[0-9]{1,3})(\]?)$/;
                    if (!entermailid.match(reg)) {
                        alert("Please Enter Valid Email Id");
                        return false;
                    }
                }
                if ($("#Email").val() != "") {
                    var entermailid = $("#Email").val();
                    var reg = /^([\w-\.]+)@@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.)|(([\w-]+\.)+))([a-zA-Z]{2,4}|[0-9]{1,3})(\]?)$/;
                    if (!entermailid.match(reg)) {
                        alert("Please Enter Valid Email Id");
                        return false;
                    }
                }
                //if ($("#Address").val() == "") {
                //    alert("Please Enter Address");
                //    return false;
                //}
                if ($("#Leaddate").val() == "") {
                    alert("Please Enter Lead date");
                    return false;
                }
                //if ($("#Followupdate").val() == "") {
                //    alert("Please Enter Followupdate");
                //    return false;
                //}
                //lead followup date is required while selecting pending status
                var radioValue = $("input[name='selectedstatus']:checked").val();
                var radiotext = $("input[name='selectedstatus']:checked").next().html();
               var data = radiotext;
                if (data == 'Pending-FollowUp') {
                    if ($("#Followupdate").val() == "") {
                        alert("Please Enter Followupdate");
                        return false;
                    }
                }
                if ($("#LeadAssignedby").val() == "") {
                    alert("Please Enter LeadAssignedby");
                    return false;
                }
                if ($("#LeadOwner").val() == "") {
                    alert("Please Enter LeadOwner");
                    return false;
                }

                ////if ($('[name="selectedprofessionaldetails"]:checked').length === 0) {
                ////    alert('Please select Professioal Details');
                ////    return false;
                ////}

                //if ($("#WorkExperienceDomain").val() == "") {
                //    alert("Please Enter Work Experience Domain");
                //    return false;
                //}
              
                //if ($('[name="selectedpreferredlocation"]:checked').length === 0) {
                //    alert('Please select Preferred Location');
                //    return false;
                //}
                //product
                if ($('[name="selectedinterestedcourse"]:checked').length === 0) {
                    alert('Please select Product Name');
                    return false;
                }
                //source
                if ($('[name="selectedrefby"]:checked').length === 0) {
                    alert('Please select Source');
                    return false;
                }
                //status
                if ($('[name="selectedstatus"]:checked').length === 0) {
                    alert('Please select Status');
                    return false;
                }
                //if ($('[name="selectedpreferredbatch"]:checked').length === 0) {
                //    alert('Please select Preferred Batch');
                //    return false;
                //}
              
                //if ($('[name="selectedwanttojoin"]:checked').length === 0) {
                //    alert('Please select Want to Join');
                //    return false;
                //}
                //if ($('[name="seletedwantalerts"]:checked').length === 0) {
                //    alert('Please select Want Alerts');
                //    return false;
                //}
                //if ($("#LeadAssignedby").val() == "") {
                //    alert("Please Enter Lead Assigned By");
                //    return false;
                //}
               
            });
           
            function DisableButton() {
                $("#btnupdate").attr('disabled', 'disabled');
                $("#btncancel").attr('disabled', 'disabled');
            }
            window.onbeforeunload = DisableButton;
        });
    </script>
</body>
</html>
