@model FortuneTechPvtLtd.Models.SendCustomEmailModel

@{
    ViewBag.Title = "AddStatus";
    Layout = "~/Views/Shared/_Layout3.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Add Role</title>

    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.20/css/jquery.dataTables.min.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css">
       <style type="text/css">
      #form{
background-color:hsla(100, 43%, 51%, 0.3);
min-height:100%;
}
        .required:after 
            {
                content: "*";
                font-weight: bold;
                color: red; 
            }
  </style> 
</head>
<body>
   
         @using (Html.BeginForm("SendCustomEmail", "Enquiry", FormMethod.Post, new { @id = "form1", @enctype = "multipart/form-data" }))
         {
            
        <div class="row">
            <div class="col-md-12">
                    <div class="table-resposive">
                        <h3 class="text-muted text-left font-18 "><b class="btn-warning">Send an Email</b></h3>
                <div class="col-md-12">
                    <div class="form-group mb-3">
                        <div> <span class="required">To Email</span></div>
                        <div>@Html.TextBoxFor(m=>m.ToEmail, new { @class = "form-control", @placeholder = "To MailId" })</div>
                        <div> @Html.ValidationMessageFor(model => model.ToEmail, "", new { @class = "text-danger" })</div>
                    </div>
                </div>
                      <div class="col-md-12">
                    <div class="form-group mb-3">
                        <div> <span class="required">Subject</span></div>
                        <div>@Html.TextBoxFor(m=>m.Subject, new { @class = "form-control", @placeholder = "Subject" })</div>
                        <div> @Html.ValidationMessageFor(model => model.Subject, "", new { @class = "text-danger" })</div>
                    </div>
                </div>       
                          <div class="col-md-12">
                    <div class="form-group mb-3">
                        <div> <span class="required">Compose</span></div>
                        <div>@Html.TextAreaFor(m=>m.Compose, new { @class = "form-control", @placeholder = "Compose" })</div>
                        <div> @Html.ValidationMessageFor(model => model.Compose, "", new { @class = "text-danger" })</div>
                    </div>

                </div>          
                          <div class="col-md-12">
                    <div class="form-group mb-3">
                        <div> Attachments</div>
                        <div><input type="file" name="Attachments" multiple="multiple"/></div>
                       
                    </div>

                </div>        
                         
                    <div class="col-md-12">
                         <div class="form-group row">
                       <input class="btn btn-info mr-3" type="submit" name="Submit" value="Submit" id="btnsubmit" />
                       <input class="btn btn-info" type="submit" name="Cancel" value="Cancel" formaction="@Url.Action("Cancel")" />
                    </div>
                </div>
            </div>
        </div>
         </div>                   
        }
    
     <script type="text/javascript" charset="utf8" src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.8.2.min.js"></script>
    <script type="text/javascript" charset="utf8" src="http://ajax.aspnetcdn.com/ajax/jquery.dataTables/1.9.4/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/jquery-validation@1.19.1/dist/jquery.validate.min.js"></script>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
    <script type="text/javascript" src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            function DisableButton() {
                $("#btnupdate").attr('disabled', 'disabled');
                $("#btncancel").attr('disabled', 'disabled');
            }
            window.onbeforeunload = DisableButton;
        $("#btnsubmit").click(function () {
            if ($("#ToEmail").val() == "") {
                alert("Please Enter To Mail");
                return false;
            }
            if ($("#Subject").val() == "") {
                alert("Please Enter Subject");
                return false;
            }
            if ($("#Compose").val() == "") {
                alert("Please Enter Body");
                return false;
            }
        });
        });
    </script>
</body>
</html>

